h1 , h2{
    color: green;
}

.container{
    width: 300px;
    height: 500px;
    background-color: olive;
}

img{
    width: 200px;

}

.cards-container{
    display: flex;
    gap: 3rem;

}

.btns{
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.food-img{

    width: 600px;
    height: 300px;
    background-color: black;
    margin-left: 20vw;
}