*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.dark{
  background-color: #333;
  color: #fff;
}
.dark button{
  background-color: #fff;
  color: #333;
}

.dark form{
  background-color: #fff;
  color: #333;
}


.light{
  background-color: #fff;
  color: #333;
}

.light button{
  background-color: #333;
  color: #fff;
}

.light form{
  background-color: #333;
  color: #fff;
}

.btns{
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;

}