.box1{
    background-color: darkgreen;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    background-color: skyblue;
    width: 700px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.box3{
    background-color: pink;
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px
}

.box4{
    background-color: violet;
    width: 500px;
    height: 150px;

} 
