#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
}


.stats-container{
  display: flex;
  gap: 50px;
}

.status{
  cursor: pointer;
}

.done {
  text-decoration:line-through;
}